<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages styleSheetTheme="base" enableEventValidation="false" enableViewStateMac="false" viewStateEncryptionMode="Never"></pages>
    <httpRuntime requestValidationMode="2.0" executionTimeout="3600" maxRequestLength="2097151" useFullyQualifiedRedirectUrl="false" />
  </system.web>
</configuration>
