<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="XClipConfig"
             type="XClip.Config.XClipConfig, XClip" />
  </configSections>
  <XClipConfig name="XClip Service"
                  description="processes XClip metadata into specified media clips"
                  dirRoot="H:\XClip"
                  dirIn="H:\Downloads"
                  dirOut="H:\XClip - Out"
                  FfMpegLocation="C:\ffmpeg-20131202-git-e3d7a39-win64-static\bin\ffmpeg.exe"
                  allowedExtensions=".mp4,.wmv,.flv,.mpg,.mpeg,.avi,.mov">
  </XClipConfig>
  <connectionStrings>
    <add name="xclipDb"
         connectionString="Persist Security Info=False;Initial Catalog=XClip;Data Source=(local);User Id=sa;Password=sesame1?"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="dbConnString" value="server=(local);Initial Catalog=XClip;uid=sa;password=sesame1?;"/>
  </appSettings>
</configuration>