<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="XClipConfig"
             type="XClip.Config.XClipConfig, XClip" />
  </configSections>
  <XClipConfig name="XClip Service"
                  description="processes XClip metadata into specified media clips"
                  dirIn="H:\Downloads"
                  dirOut="H:\XClip - Out">
  </XClipConfig>
  <appSettings>
    <add key="dbConnString" value="server=DBSVR01;Initial Catalog=XClip;uid=sa;password=sesame1?;"/>
  </appSettings>
</configuration>